# PANDAS

! pip install pandas

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

CSV FILE  (comma separated values)  
To read csv files in pandas ->  pd.read_csv("path")

In [2]:
import pandas as pd

df = pd.read_csv("/Esyasoft_basic_training/Python/pandas_methods/multi.csv")

In [3]:
df

,review_id,user_id,app_name,app_category,review_text,review_language,rating,review_date,verified_purchase,device_type,num_helpful_votes,user_age,user_country,user_gender,app_version
0,1,1967825,MX Player,Travel & Local,Qui doloribus consequuntur. Perspiciatis tempo...,no,1.3,2024-10-09 19:26:40,True,Android Tablet,65,14.0,China,Female,1.4
1,2,9242600,Tinder,Navigation,"Great app but too many ads, consider premium v...",ru,1.6,2024-06-21 17:29:40,True,iPad,209,18.0,Germany,Male,8.9
2,3,7636477,Netflix,Dating,The interface could be better but overall good...,es,3.6,2024-10-31 13:47:12,True,iPad,163,67.0,Nigeria,Male,2.8.37.5926
3,4,209031,Venmo,Productivity,"Latest update broke some features, please fix ...",vi,3.8,2025-03-12 06:16:22,True,iOS,664,66.0,India,Female,10.2
4,5,7190293,Google Drive,Education,"Perfect for daily use, highly recommend to eve...",tl,3.2,2024-04-21 03:48:27,True,iPad,1197,40.0,South Korea,Prefer not to say,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2509,2510,2322118,OneDrive,Business,Счастье низкий пастух. Нож неожиданно поезд тр...,nl,3.0,2023-11-23 01:07:30,False,iOS,635,21.0,Malaysia,Non-binary,1.1.2-beta
2510,2511,2167693,Signal,Finance,This app is amazing! Really love the new featu...,ms,1.9,2025-06-05 16:42:20,True,Windows Phone,1127,38.0,Bangladesh,NaN,v12.0.80
2511,2512,5554467,OneDrive,Social Networking,This app is amazing! Really love the new featu...,zh,3.4,2024-06-15 05:02:18,True,Android Tablet,677,27.0,Pakistan,NaN,9.1.32.4821
2512,2513,8805125,Coursera,Social Networking,Invitare convincere pericoloso corsa fortuna. ...,da,2.7,2023-12-02 01:41:31,True,Android,155,35.0,India,NaN,v8.9.13
2513,2514,1099793,Venmo,Education,"Latest update broke some features, please fix ...",it,2.1,2025-03-04 02:51:17,True,Android,1040,26.0,Bangladesh,Prefer not to say,2.2

In [4]:
df.head()

,review_id,user_id,app_name,app_category,review_text,review_language,rating,review_date,verified_purchase,device_type,num_helpful_votes,user_age,user_country,user_gender,app_version
0,1,1967825,MX Player,Travel & Local,Qui doloribus consequuntur. Perspiciatis tempo...,no,1.3,2024-10-09 19:26:40,True,Android Tablet,65,14.0,China,Female,1.4
1,2,9242600,Tinder,Navigation,"Great app but too many ads, consider premium v...",ru,1.6,2024-06-21 17:29:40,True,iPad,209,18.0,Germany,Male,8.9
2,3,7636477,Netflix,Dating,The interface could be better but overall good...,es,3.6,2024-10-31 13:47:12,True,iPad,163,67.0,Nigeria,Male,2.8.37.5926
3,4,209031,Venmo,Productivity,"Latest update broke some features, please fix ...",vi,3.8,2025-03-12 06:16:22,True,iOS,664,66.0,India,Female,10.2
4,5,7190293,Google Drive,Education,"Perfect for daily use, highly recommend to eve...",tl,3.2,2024-04-21 03:48:27,True,iPad,1197,40.0,South Korea,Prefer not to say,4.7

df.head() -> fetches first five rows

# Types of DATA ANALYSIS

1) Descriptive analysis (avg,sum)
2) Statistical analysis( mean,mode,standard deviations,central tendencies)
3) Diagnostics
4) predictive
5) prescriptive
6) infrential
7) exploratory

In [5]:
df.tail()

,review_id,user_id,app_name,app_category,review_text,review_language,rating,review_date,verified_purchase,device_type,num_helpful_votes,user_age,user_country,user_gender,app_version
2509,2510,2322118,OneDrive,Business,Счастье низкий пастух. Нож неожиданно поезд тр...,nl,3.0,2023-11-23 01:07:30,False,iOS,635,21.0,Malaysia,Non-binary,1.1.2-beta
2510,2511,2167693,Signal,Finance,This app is amazing! Really love the new featu...,ms,1.9,2025-06-05 16:42:20,True,Windows Phone,1127,38.0,Bangladesh,NaN,v12.0.80
2511,2512,5554467,OneDrive,Social Networking,This app is amazing! Really love the new featu...,zh,3.4,2024-06-15 05:02:18,True,Android Tablet,677,27.0,Pakistan,NaN,9.1.32.4821
2512,2513,8805125,Coursera,Social Networking,Invitare convincere pericoloso corsa fortuna. ...,da,2.7,2023-12-02 01:41:31,True,Android,155,35.0,India,NaN,v8.9.13
2513,2514,1099793,Venmo,Education,"Latest update broke some features, please fix ...",it,2.1,2025-03-04 02:51:17,True,Android,1040,26.0,Bangladesh,Prefer not to say,2.2

df.tail() -> fetches last five rows

In [6]:
pf = pd.read_csv("/Esyasoft_basic_training/Python/pandas_methods/datasets.csv")

In [7]:
pf

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

# dropping irrelevant colums

pf = pf.drop('about')

In [9]:
pf = pf.drop('about', axis=1)

for deleting columns axis=1 and for deletion of rows axis=0

In [10]:
pf.head()

,datasetName,link,categoryName,cloud,vintage
0,Microbiome Project,https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [11]:
df.dtypes

review_id              int64
user_id                int64
app_name              object
app_category          object
review_text           object
review_language       object
rating               float64
review_date           object
verified_purchase       bool
device_type           object
num_helpful_votes      int64
user_age             float64
user_country          object
user_gender           object
app_version           object
dtype: object

In [12]:
pf.rename(columns={'datasetName' : 'Names'}, inplace =True)

In [13]:
pf.head()

,Names,link,categoryName,cloud,vintage
0,Microbiome Project,https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [14]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Names         61 non-null     object
 1   link          61 non-null     object
 2   categoryName  61 non-null     object
 3   cloud         24 non-null     object
 4   vintage       31 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

pf.rename(columns= {'oldName' : 'newName', 'secondcolumn' : 'newname'}, inplace = True) -> To rename the columns

df.info() -> give the info about columns

# statistical Analysis

pf.describe() -> gives the stastical analysis

In [15]:
pf.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

## Dropping duplicate rows

In [16]:
pf.shape

(61, 5)

pf.shape -> total rows and columns

In [17]:
duplicates = pf[pf.duplicated()]
print("no of duplicate rows :" , duplicates.shape)

no of duplicate rows : (0, 5)

df.count()

In [18]:
pf.count()

Names           61
link            61
categoryName    61
cloud           24
vintage         31
dtype: int64

In [19]:
pf = pf.drop_duplicates()
pf.head()

,Names,link,categoryName,cloud,vintage
0,Microbiome Project,https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [20]:
pf.count()

Names           61
link            61
categoryName    61
cloud           24
vintage         31
dtype: int64

In [21]:
pf.shape

(61, 5)

### Dropping missing or Null values

pf.isnull.sum() -> gives the no of nul values in a column

In [22]:
print(pf.isnull().sum())

Names            0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

pf.dropna() -> dropping the rows which has null values

In [23]:
pf = pf.dropna()

In [24]:
pf.count()

Names           2
link            2
categoryName    2
cloud           2
vintage         2
dtype: int64

In [25]:
pf.shape

(2, 5)

In [26]:
print(pf.isnull().sum())

Names           0
link            0
categoryName    0
cloud           0
vintage         0
dtype: int64

In [27]:
pf.head()

,Names,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0